{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <h1>Vista de Cursos</h1>

    <h4>Bienvenido a la plataforma de coder, espero que aprendas mucho!<h4>
        <ul>
            {% for curso in lista_cursos %}
                <li>{{curso.nombre}} - {{curso.camada}}</li>
            {% endfor %}
        </ul>
        <p>Por ahora no podés visualizar los cursos pero podés cargar alguno!
            <br>
            Hacé clic <a href = 'cursoFormulario'> acá </a> para cargar un curso! </p> 
{% endblock contenidoQueCambia %}